


<div class="not-found" >

    <div class="row align-items-center">
        <div class="col-lg-6 text-start">
            <div class="lc-block mb-4" data-aos="fade-right" data-aos-duration="1000" >
                <div editable="rich">
                    <h3>Ops... Something unexpected happend.</h3>
                    <h1 >{{title}}</h1>
                    <a href="/">Back to Home</a>
                </div>
            </div>


        </div>
        <div class="col-lg-6">
            <img class="img-fluid" data-aos="fade-left" data-aos-duration="2000" data-aos-delay="200"
                src="/img/notfound2.jpeg"
                style="height: 500px; object-fit: cover; border-radius: 63% 37% 54% 46% / 55% 57% 43% 45%;"
                alt="Hero image">
        </div>
    </div>
</div>

<style>
    body {
        background: linear-gradient(45deg, #3e2c2c, #0b2c42);
        min-height: 100vh;
        margin: 0;
    }

    .not-found {
        text-align: center;
        padding: 50px;
        font-family: Arial, sans-serif;
    }

    .message {
        font-size: 24px;
        color: #ffffff;
        margin: 20px 0;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }

    h1 {
        color: #ffffff;
    }
    h3 {
        color: #e8d193;
    }
</style>