body {
  padding-top: 20px;
}

.sentimental-icon
{
  margin-left: 5px;
}

.analysis-sections .bi {
  margin-left: 5px;
}

.footer{
  margin-top: 25px;
  padding-top: 35px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

nav {
  cursor: pointer;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }